# Scraping Data Film Indonesia dari TMDB

In [2]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.7-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (2022.12.7)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.7

## Library Import

In [1]:
from tmdbv3api import TMDb                # untuk mengakses API tmdb
from tmdbv3api import Movie               # untuk mengakses data film tmdb
import pandas as pd                       # untuk mengolah data tabular
from datetime import datetime             # untuk mengolah tipe data waktu
import numpy as np

## Authorization

In [2]:
tmdb = TMDb()                         # memanggil modul tmdb 
tmdb.api_key = 'a799a00a76efbdc9fbd3e82a8ee406c7'              # input api key anda di sini
tmdb.language = 'id'                  # menentukan bahasa film yang diinginkan (Indonesia)
tmdb.debug = True                     # mengijinkan proses debuging

## Mengambil data Film Indonesia

In [3]:
movie = Movie()                      # memanggil modul movie
df = pd.read_csv('movie_id.csv')     # membuka data csv movie id
movie_id = df.movie_id.to_list()     # konversi movie id dalam bentuk list

In [4]:
id_movie                   = []
title                      = []
overview                   = []
popularity                 = []
adult                      = []
original_language          = []
genres                     = []
genre_name_list            = []
genre_id_list              = []
countries                  = []
country_id_list            = []
country_name_list          = []
companies                  = []
company_name_list          = []
company_id_list            = []
company_oc_list            = []
runtime                    = []
revenue                    = []
budget                     = []
release_dates              = []
release_date               = []
vote_count                 = []
vote_average               = []
translations               = []
translation_name_list      = []
translation_id_list        = []
certifications             = []
casts                      = []
cast_oname_list            = []
cast_name_list             = []
cast_character_list        = []
cast_id_list               = []
cast_popularity_list       = []
imdb_id                    = []

In [5]:
m = movie.details(250820)

print(m.title)                    # judul film
print(m.overview)                 # ringkasan film
print(m.popularity)               # skor popularitas film

Cinta Dalam Kardus
Film ini bercerita tentang Miko, orang yang percaya bahwa cinta itu menuntut dan tidak pernah bisa menerima seseorang apa adanya. I love you just the way you are itu justru tanda buat berpisah. Dan persis itulah yang ia rasakan saat ini, pada hubungannya dengan Putri. Miko mulai mempertimbangkan untuk putus.
2.56

In [6]:
for ind, m_id in enumerate(movie_id):
    print(ind, 'from', len(movie_id))
    try :
        # Data json detail film menggunakan movie_id
        m = movie.details(m_id)
        # movie id
        id_movie.append(m_id)
        # imdb id film
        try:
            imdb_id.append(m.imdb_id)
        except:
            imdb_id.append(None)
        # Judul film
        try:
            title.append(m.title)
        except:
            title.append(None)
        # Ringkasan film
        try:
            overview.append(m.overview)
        except:
            overview.append(None)
        # Skor popularitas film
        try:
            popularity.append(m.popularity)
        except:
            popularity.append(None)
        # Keterangan adult film
        try:
            adult.append(m.adult)
        except:
            adult.append(None)
        # Bahasa asli film
        try:
            original_language.append(m.original_language)
        except:
            original_language.append(None)
        # Durasi film dalam menit
        try:
            runtime.append(m.runtime)
        except:
            runtime.append(None)
        # Pendapatan film
        try:
            revenue.append(m.revenue)
        except:
            revenue.append(None)
        # Biaya pembuatan film
        try:
            budget.append(m.budget)
        except:
            budget.append(None)
        # Tanggal rilis film
        try:
            release_dates.append(m.release_dates)
        except:
            release_dates.append(None)
        try:
            release_date.append(m.release_date)
        except:
            release_date.append(None)
        # Jumlah vote di themoviedb.org
        try:
            vote_count.append(m.vote_count)
        except:
            vote_count.append(None)
        # Rerata vote di themoviedb.org
        try:
            vote_average.append(m.vote_average)
        except:
            vote_average.append(None)
        # Sertifikasi film
        try:
            certifications.append(m.release_dates.results[0].release_dates[0].certification)
        except:
            certifications.append(None)

        # Data genre film : Satu film bisa direferensikan sebagai lebih dari satu genre
        try: 
            genres.append(m.genres)
        except:
            genres.append(None)
        try:
            genres_ = movie.details(m_id).genres
            genre_name_list.append([x.name for x in genres_])
        except:
            genre_name_list.append(None)
        try:
            genres_ = movie.details(m_id).genres
            genre_id_list.append([x.id for x in genres_])
        except:
            genre_id_list.append(None)
        
        # Negara asal film
        try:
            countries.append(m.production_countries)
        except:
            countries.append(None)
        try:
            countries_ = movie.details(m_id).production_countries
            country_name_list.append([x.name for x in countries_])
        except:
            country_name_list.append(None)
        try:
            countries_ = movie.details(m_id).production_countries
            country_id_list.append([x.iso_3166_1 for x in countries_])
        except:
            country_id_list.append(None)
        
        # Perusahaan produsen film
        try:
            companies.append(m.production_companies)
        except:
            companies.append(None)
        try:
            companies_ = movie.details(m_id).production_companies
            company_name_list.append([x.name for x in companies_])
        except:
            company_name_list.append(None)
        try:
            companies_ = movie.details(m_id).production_companies
            company_id_list.append([x.id for x in companies_])
        except:
            company_id_list.append(None)
        try:
            companies_ = movie.details(m_id).production_companies
            company_oc_list.append([x.origin_country for x in companies_])
        except:
            company_oc_list.append(None)
        
        # Bahasan terjemahan fil
        try:
            translations.append(m.translations)
        except:
            translations.append(None)
        try:
            translations_ = movie.details(m_id).translations.translations
            translation_name_list.append([x.english_name for x in translations_])
        except:
            translation_name_list.append(None)
        try:
            translations_ = movie.details(m_id).translations.translations
            translation_id_list.append([x.iso_3166_1 for x in translations_])
        except:
            translation_id_list.append(None) 
            
        
        # Artis pemeran Film  
        try:
            casts.append(m.casts)
        except:
            casts.append(None)
            
        try:
            casts_ = movie.details(m_id).casts.cast
            cast_oname_list.append([x.original_name for x in casts_])
        except:
            cast_oname_list.append(None)
        try:
            casts_ = movie.details(m_id).casts.cast
            cast_name_list.append([x.name for x in casts_])
        except:
            cast_name_list.append(None)
        try:
            casts_ = movie.details(m_id).casts.cast
            cast_character_list.append([x.character for x in casts_])
        except:
            cast_character_list.append(None)
        try:
            casts_ = movie.details(m_id).casts.cast
            cast_id_list.append([x.id for x in casts_])
        except:
            cast_id_list.append(None)
        try:
            casts_ = movie.details(m_id).casts.cast
            cast_popularity_list.append([x.popularity for x in casts_])
        except:
            cast_popularity_list.append(None)
    except:
        continue

0 from 2340
1 from 2340
2 from 2340
3 from 2340
4 from 2340
5 from 2340
6 from 2340
7 from 2340
8 from 2340
9 from 2340
10 from 2340
11 from 2340
12 from 2340
13 from 2340
14 from 2340
15 from 2340
16 from 2340
17 from 2340
18 from 2340
19 from 2340
20 from 2340
21 from 2340
22 from 2340
23 from 2340
24 from 2340
25 from 2340
26 from 2340
27 from 2340
28 from 2340
29 from 2340
30 from 2340
31 from 2340
32 from 2340
33 from 2340
34 from 2340
35 from 2340
36 from 2340
37 from 2340
38 from 2340
39 from 2340
40 from 2340
41 from 2340
42 from 2340
43 from 2340
44 from 2340
45 from 2340
46 from 2340
47 from 2340
48 from 2340
49 from 2340
50 from 2340
51 from 2340
52 from 2340
53 from 2340
54 from 2340
55 from 2340
56 from 2340
57 from 2340
58 from 2340
59 from 2340
60 from 2340
61 from 2340
62 from 2340
63 from 2340
64 from 2340
65 from 2340
66 from 2340
67 from 2340
68 from 2340
69 from 2340
70 from 2340
71 from 2340
72 from 2340
73 from 2340
74 from 2340
75 from 2340
76 from 2340
77 from 2340
78 from 2340
79 from 2340
80 from 2340
81 from 2340
82 from 2340
83 from 2340
84 from 2340
85 from 2340
86 from 2340
87 from 2340
88 from 2340
89 from 2340
90 from 2340
91 from 2340
92 from 2340
93 from 2340
94 from 2340
95 from 2340
96 from 2340
97 from 2340
98 from 2340
99 from 2340
100 from 2340
101 from 2340
102 from 2340
103 from 2340
104 from 2340
105 from 2340
106 from 2340
107 from 2340
108 from 2340
109 from 2340
110 from 2340
111 from 2340
112 from 2340
113 from 2340
114 from 2340
115 from 2340
116 from 2340
117 from 2340
118 from 2340
119 from 2340
120 from 2340
121 from 2340
122 from 2340
123 from 2340
124 from 2340
125 from 2340
126 from 2340
127 from 2340
128 from 2340
129 from 2340
130 from 2340
131 from 2340
132 from 2340
133 from 2340
134 from 2340
135 from 2340
136 from 2340
137 from 2340
138 from 2340
139 from 2340
140 from 2340
141 from 2340
142 from 2340
143 from 2340
144 from 2340
145 from 2340
146 from 2340
147 from 2340
148 from 2340
149 from 2340
150 from 2340
151 from 2340
152 from 2340
153 from 2340
154 from 2340
155 from 2340
156 from 2340
157 from 2340
158 from 2340
159 from 2340
160 from 2340
161 from 2340
162 from 2340
163 from 2340
164 from 2340
165 from 2340
166 from 2340
167 from 2340
168 from 2340
169 from 2340
170 from 2340
171 from 2340
172 from 2340
173 from 2340
174 from 2340
175 from 2340
176 from 2340
177 from 2340
178 from 2340
179 from 2340
180 from 2340
181 from 2340
182 from 2340
183 from 2340
184 from 2340
185 from 2340
186 from 2340
187 from 2340
188 from 2340
189 from 2340
190 from 2340
191 from 2340
192 from 2340
193 from 2340
194 from 2340
195 from 2340
196 from 2340
197 from 2340
198 from 2340
199 from 2340
200 from 2340
201 from 2340
202 from 2340
203 from 2340
204 from 2340
205 from 2340
206 from 2340
207 from 2340
208 from 2340
209 from 2340
210 from 2340
211 from 2340
212 from 2340
213 from 2340
214 from 2340
215 from 2340
216 from 2340
217 from 2340
218 from 2340
219 from 2340
220 from 2340
221 from 2340
222 from 2340
223 from 2340
224 from 2340
225 from 2340
226 from 2340
227 from 2340
228 from 2340
229 from 2340
230 from 2340
231 from 2340
232 from 2340
233 from 2340
234 from 2340
235 from 2340
236 from 2340
237 from 2340
238 from 2340
239 from 2340
240 from 2340
241 from 2340
242 from 2340
243 from 2340
244 from 2340
245 from 2340
246 from 2340
247 from 2340
248 from 2340
249 from 2340
250 from 2340
251 from 2340
252 from 2340
253 from 2340
254 from 2340
255 from 2340
256 from 2340
257 from 2340
258 from 2340
259 from 2340
260 from 2340
261 from 2340
262 from 2340
263 from 2340
264 from 2340
265 from 2340
266 from 2340
267 from 2340
268 from 2340
269 from 2340
270 from 2340
271 from 2340
272 from 2340
273 from 2340
274 from 2340
275 from 2340
276 from 2340
277 from 2340
278 from 2340
279 from 2340
280 from 2340
281 from 2340
282 from 2340
283 from 2340
284 from 2340
285 from 2340
286 from 2340
287 from 2340
288 from 2340
289 from 2340
290 from 2340
291 from 2340
292 from 2340
293 from 2340
294 from 2340
295 from 2340
296 from 2340
297 from 2340
298 from 2340
299 from 2340
300 from 2340
301 from 2340
302 from 2340
303 from 2340
304 from 2340
305 from 2340
306 from 2340
307 from 2340
308 from 2340
309 from 2340
310 from 2340
311 from 2340
312 from 2340
313 from 2340
314 from 2340
315 from 2340
316 from 2340
317 from 2340
318 from 2340
319 from 2340
320 from 2340
321 from 2340
322 from 2340
323 from 2340
324 from 2340
325 from 2340
326 from 2340
327 from 2340
328 from 2340
329 from 2340
330 from 2340
331 from 2340
332 from 2340
333 from 2340
334 from 2340
335 from 2340
336 from 2340
337 from 2340
338 from 2340
339 from 2340
340 from 2340
341 from 2340
342 from 2340
343 from 2340
344 from 2340
345 from 2340
346 from 2340
347 from 2340
348 from 2340
349 from 2340
350 from 2340
351 from 2340
352 from 2340
353 from 2340
354 from 2340
355 from 2340
356 from 2340
357 from 2340
358 from 2340
359 from 2340
360 from 2340
361 from 2340
362 from 2340
363 from 2340
364 from 2340
365 from 2340
366 from 2340
367 from 2340
368 from 2340
369 from 2340
370 from 2340
371 from 2340
372 from 2340
373 from 2340
374 from 2340
375 from 2340
376 from 2340
377 from 2340
378 from 2340
379 from 2340
380 from 2340
381 from 2340
382 from 2340
383 from 2340
384 from 2340
385 from 2340
386 from 2340
387 from 2340
388 from 2340
389 from 2340
390 from 2340
391 from 2340
392 from 2340
393 from 2340
394 from 2340
395 from 2340
396 from 2340
397 from 2340
398 from 2340
399 from 2340
400 from 2340
401 from 2340
402 from 2340
403 from 2340
404 from 2340
405 from 2340
406 from 2340
407 from 2340
408 from 2340
409 from 2340
410 from 2340
411 from 2340
412 from 2340
413 from 2340
414 from 2340
415 from 2340
416 from 2340
417 from 2340
418 from 2340
419 from 2340
420 from 2340
421 from 2340
422 from 2340
423 from 2340
424 from 2340
425 from 2340
426 from 2340
427 from 2340
428 from 2340
429 from 2340
430 from 2340
431 from 2340
432 from 2340
433 from 2340
434 from 2340
435 from 2340
436 from 2340
437 from 2340
438 from 2340
439 from 2340
440 from 2340
441 from 2340
442 from 2340
443 from 2340
444 from 2340
445 from 2340
446 from 2340
447 from 2340
448 from 2340
449 from 2340
450 from 2340
451 from 2340
452 from 2340
453 from 2340
454 from 2340
455 from 2340
456 from 2340
457 from 2340
458 from 2340
459 from 2340
460 from 2340
461 from 2340
462 from 2340
463 from 2340
464 from 2340
465 from 2340
466 from 2340
467 from 2340
468 from 2340
469 from 2340
470 from 2340
471 from 2340
472 from 2340
473 from 2340
474 from 2340
475 from 2340
476 from 2340
477 from 2340
478 from 2340
479 from 2340
480 from 2340
481 from 2340
482 from 2340
483 from 2340
484 from 2340
485 from 2340
486 from 2340
487 from 2340
488 from 2340
489 from 2340
490 from 2340
491 from 2340
492 from 2340
493 from 2340
494 from 2340
495 from 2340
496 from 2340
497 from 2340
498 from 2340
499 from 2340
500 from 2340
501 from 2340
502 from 2340
503 from 2340
504 from 2340
505 from 2340
506 from 2340
507 from 2340
508 from 2340
509 from 2340
510 from 2340
511 from 2340
512 from 2340
513 from 2340
514 from 2340
515 from 2340
516 from 2340
517 from 2340
518 from 2340
519 from 2340
520 from 2340
521 from 2340
522 from 2340
523 from 2340
524 from 2340
525 from 2340
526 from 2340
527 from 2340
528 from 2340
529 from 2340
530 from 2340
531 from 2340
532 from 2340
533 from 2340
534 from 2340
535 from 2340
536 from 2340
537 from 2340
538 from 2340
539 from 2340
540 from 2340
541 from 2340
542 from 2340
543 from 2340
544 from 2340
545 from 2340
546 from 2340
547 from 2340
548 from 2340
549 from 2340
550 from 2340
551 from 2340
552 from 2340
553 from 2340
554 from 2340
555 from 2340
556 from 2340
557 from 2340
558 from 2340
559 from 2340
560 from 2340
561 from 2340
562 from 2340
563 from 2340
564 from 2340
565 from 2340
566 from 2340
567 from 2340
568 from 2340
569 from 2340
570 from 2340
571 from 2340
572 from 2340
573 from 2340
574 from 2340
575 from 2340
576 from 2340
577 from 2340
578 from 2340
579 from 2340
580 from 2340
581 from 2340
582 from 2340
583 from 2340
584 from 2340
585 from 2340
586 from 2340
587 from 2340
588 from 2340
589 from 2340
590 from 2340
591 from 2340
592 from 2340
593 from 2340

594 from 2340
595 from 2340
596 from 2340
597 from 2340
598 from 2340
599 from 2340
600 from 2340
601 from 2340
602 from 2340
603 from 2340
604 from 2340
605 from 2340
606 from 2340
607 from 2340
608 from 2340
609 from 2340
610 from 2340
611 from 2340
612 from 2340
613 from 2340
614 from 2340
615 from 2340
616 from 2340
617 from 2340
618 from 2340
619 from 2340
620 from 2340
621 from 2340
622 from 2340
623 from 2340
624 from 2340
625 from 2340
626 from 2340
627 from 2340
628 from 2340
629 from 2340
630 from 2340
631 from 2340
632 from 2340
633 from 2340
634 from 2340
635 from 2340
636 from 2340
637 from 2340
638 from 2340
639 from 2340
640 from 2340
641 from 2340
642 from 2340
643 from 2340
644 from 2340
645 from 2340
646 from 2340
647 from 2340
648 from 2340
649 from 2340
650 from 2340
651 from 2340
652 from 2340
653 from 2340
654 from 2340
655 from 2340
656 from 2340
657 from 2340
658 from 2340
659 from 2340
660 from 2340
661 from 2340
662 from 2340
663 from 2340
664 from 2340
665 from 2340
666 from 2340
667 from 2340
668 from 2340
669 from 2340
670 from 2340
671 from 2340
672 from 2340
673 from 2340
674 from 2340
675 from 2340
676 from 2340
677 from 2340
678 from 2340
679 from 2340
680 from 2340
681 from 2340
682 from 2340
683 from 2340
684 from 2340
685 from 2340
686 from 2340
687 from 2340
688 from 2340
689 from 2340
690 from 2340
691 from 2340
692 from 2340
693 from 2340
694 from 2340
695 from 2340
696 from 2340
697 from 2340
698 from 2340
699 from 2340
700 from 2340
701 from 2340
702 from 2340
703 from 2340
704 from 2340
705 from 2340
706 from 2340
707 from 2340
708 from 2340
709 from 2340
710 from 2340
711 from 2340
712 from 2340
713 from 2340
714 from 2340
715 from 2340
716 from 2340
717 from 2340
718 from 2340
719 from 2340
720 from 2340
721 from 2340
722 from 2340
723 from 2340
724 from 2340
725 from 2340
726 from 2340
727 from 2340
728 from 2340
729 from 2340
730 from 2340
731 from 2340
732 from 2340
733 from 2340
734 from 2340
735 from 2340
736 from 2340
737 from 2340
738 from 2340
739 from 2340
740 from 2340
741 from 2340
742 from 2340
743 from 2340
744 from 2340
745 from 2340
746 from 2340
747 from 2340
748 from 2340
749 from 2340
750 from 2340
751 from 2340
752 from 2340
753 from 2340
754 from 2340
755 from 2340
756 from 2340
757 from 2340
758 from 2340
759 from 2340
760 from 2340
761 from 2340
762 from 2340
763 from 2340
764 from 2340
765 from 2340
766 from 2340
767 from 2340
768 from 2340
769 from 2340
770 from 2340
771 from 2340
772 from 2340
773 from 2340
774 from 2340
775 from 2340
776 from 2340
777 from 2340
778 from 2340
779 from 2340
780 from 2340
781 from 2340
782 from 2340
783 from 2340
784 from 2340
785 from 2340
786 from 2340
787 from 2340
788 from 2340
789 from 2340
790 from 2340
791 from 2340
792 from 2340
793 from 2340
794 from 2340
795 from 2340
796 from 2340
797 from 2340
798 from 2340
799 from 2340
800 from 2340
801 from 2340
802 from 2340
803 from 2340
804 from 2340
805 from 2340
806 from 2340
807 from 2340
808 from 2340
809 from 2340
810 from 2340
811 from 2340
812 from 2340
813 from 2340
814 from 2340
815 from 2340
816 from 2340
817 from 2340
818 from 2340
819 from 2340
820 from 2340
821 from 2340
822 from 2340
823 from 2340
824 from 2340
825 from 2340
826 from 2340
827 from 2340
828 from 2340
829 from 2340
830 from 2340
831 from 2340
832 from 2340
833 from 2340
834 from 2340
835 from 2340
836 from 2340
837 from 2340
838 from 2340
839 from 2340
840 from 2340
841 from 2340
842 from 2340
843 from 2340
844 from 2340
845 from 2340
846 from 2340
847 from 2340
848 from 2340
849 from 2340
850 from 2340
851 from 2340
852 from 2340
853 from 2340
854 from 2340
855 from 2340
856 from 2340
857 from 2340
858 from 2340
859 from 2340
860 from 2340
861 from 2340
862 from 2340
863 from 2340
864 from 2340
865 from 2340
866 from 2340
867 from 2340
868 from 2340
869 from 2340
870 from 2340
871 from 2340
872 from 2340
873 from 2340
874 from 2340
875 from 2340
876 from 2340
877 from 2340
878 from 2340
879 from 2340
880 from 2340
881 from 2340
882 from 2340
883 from 2340
884 from 2340
885 from 2340
886 from 2340
887 from 2340
888 from 2340
889 from 2340
890 from 2340
891 from 2340
892 from 2340
893 from 2340
894 from 2340
895 from 2340
896 from 2340
897 from 2340
898 from 2340
899 from 2340
900 from 2340
901 from 2340
902 from 2340
903 from 2340
904 from 2340
905 from 2340
906 from 2340
907 from 2340
908 from 2340
909 from 2340
910 from 2340
911 from 2340
912 from 2340
913 from 2340
914 from 2340
915 from 2340
916 from 2340
917 from 2340
918 from 2340
919 from 2340
920 from 2340
921 from 2340
922 from 2340
923 from 2340
924 from 2340
925 from 2340
926 from 2340
927 from 2340
928 from 2340
929 from 2340
930 from 2340
931 from 2340
932 from 2340
933 from 2340
934 from 2340
935 from 2340
936 from 2340
937 from 2340
938 from 2340
939 from 2340
940 from 2340
941 from 2340
942 from 2340
943 from 2340
944 from 2340
945 from 2340
946 from 2340
947 from 2340
948 from 2340
949 from 2340
950 from 2340
951 from 2340
952 from 2340
953 from 2340
954 from 2340
955 from 2340
956 from 2340
957 from 2340
958 from 2340
959 from 2340
960 from 2340
961 from 2340
962 from 2340
963 from 2340
964 from 2340
965 from 2340
966 from 2340
967 from 2340
968 from 2340
969 from 2340
970 from 2340
971 from 2340
972 from 2340
973 from 2340
974 from 2340
975 from 2340
976 from 2340
977 from 2340
978 from 2340
979 from 2340
980 from 2340
981 from 2340
982 from 2340
983 from 2340
984 from 2340
985 from 2340
986 from 2340
987 from 2340
988 from 2340
989 from 2340
990 from 2340
991 from 2340
992 from 2340
993 from 2340
994 from 2340
995 from 2340
996 from 2340
997 from 2340
998 from 2340
999 from 2340
1000 from 2340
1001 from 2340
1002 from 2340
1003 from 2340
1004 from 2340
1005 from 2340
1006 from 2340
1007 from 2340
1008 from 2340
1009 from 2340
1010 from 2340
1011 from 2340
1012 from 2340
1013 from 2340
1014 from 2340
1015 from 2340
1016 from 2340
1017 from 2340
1018 from 2340
1019 from 2340
1020 from 2340
1021 from 2340
1022 from 2340
1023 from 2340
1024 from 2340
1025 from 2340
1026 from 2340
1027 from 2340
1028 from 2340
1029 from 2340
1030 from 2340
1031 from 2340
1032 from 2340
1033 from 2340
1034 from 2340
1035 from 2340
1036 from 2340
1037 from 2340
1038 from 2340
1039 from 2340
1040 from 2340
1041 from 2340
1042 from 2340
1043 from 2340
1044 from 2340
1045 from 2340
1046 from 2340
1047 from 2340
1048 from 2340
1049 from 2340
1050 from 2340
1051 from 2340
1052 from 2340
1053 from 2340
1054 from 2340
1055 from 2340
1056 from 2340
1057 from 2340
1058 from 2340
1059 from 2340
1060 from 2340
1061 from 2340
1062 from 2340
1063 from 2340
1064 from 2340
1065 from 2340
1066 from 2340
1067 from 2340
1068 from 2340
1069 from 2340
1070 from 2340
1071 from 2340
1072 from 2340
1073 from 2340
1074 from 2340
1075 from 2340
1076 from 2340
1077 from 2340
1078 from 2340
1079 from 2340
1080 from 2340
1081 from 2340
1082 from 2340
1083 from 2340
1084 from 2340
1085 from 2340
1086 from 2340
1087 from 2340
1088 from 2340
1089 from 2340
1090 from 2340
1091 from 2340
1092 from 2340
1093 from 2340
1094 from 2340
1095 from 2340
1096 from 2340
1097 from 2340
1098 from 2340
1099 from 2340
1100 from 2340
1101 from 2340
1102 from 2340
1103 from 2340
1104 from 2340
1105 from 2340
1106 from 2340
1107 from 2340
1108 from 2340
1109 from 2340
1110 from 2340
1111 from 2340
1112 from 2340
1113 from 2340
1114 from 2340
1115 from 2340
1116 from 2340
1117 from 2340
1118 from 2340
1119 from 2340
1120 from 2340
1121 from 2340
1122 from 2340
1123 from 2340
1124 from 2340
1125 from 2340
1126 from 2340
1127 from 2340
1128 from 2340
1129 from 2340
1130 from 2340
1131 from 2340
1132 from 2340
1133 from 2340
1134 from 2340
1135 from 2340
1136 from 2340
1137 from 2340
1138 from 2340
1139 from 2340
1140 from 2340
1141 from 2340
1142 from 2340
1143 from 2340
1144 from 2340
1145 from 2340
1146 from 2340
1147 from 2340
1148 from 2340
1149 from 2340
1150 from 2340
1151 from 2340
1152 from 2340
1153 from 2340
1154 from 2340
1155 from 2340
1156 from 2340
1157 from 2340
1158 from 2340
1159 from 2340
1160 from 2340
1161 from 2340
1162 from 2340
1163 from 2340
1164 from 2340
1165 from 2340
1166 from 2340
1167 from 2340

1168 from 2340
1169 from 2340
1170 from 2340
1171 from 2340
1172 from 2340
1173 from 2340
1174 from 2340
1175 from 2340
1176 from 2340
1177 from 2340
1178 from 2340
1179 from 2340
1180 from 2340
1181 from 2340
1182 from 2340
1183 from 2340
1184 from 2340
1185 from 2340
1186 from 2340
1187 from 2340
1188 from 2340
1189 from 2340
1190 from 2340
1191 from 2340
1192 from 2340
1193 from 2340
1194 from 2340
1195 from 2340
1196 from 2340
1197 from 2340
1198 from 2340
1199 from 2340
1200 from 2340
1201 from 2340
1202 from 2340
1203 from 2340
1204 from 2340
1205 from 2340
1206 from 2340
1207 from 2340
1208 from 2340
1209 from 2340
1210 from 2340
1211 from 2340
1212 from 2340
1213 from 2340
1214 from 2340
1215 from 2340
1216 from 2340
1217 from 2340
1218 from 2340
1219 from 2340
1220 from 2340
1221 from 2340
1222 from 2340
1223 from 2340
1224 from 2340
1225 from 2340
1226 from 2340
1227 from 2340
1228 from 2340
1229 from 2340
1230 from 2340
1231 from 2340
1232 from 2340
1233 from 2340
1234 from 2340
1235 from 2340
1236 from 2340
1237 from 2340
1238 from 2340
1239 from 2340
1240 from 2340
1241 from 2340
1242 from 2340
1243 from 2340
1244 from 2340
1245 from 2340
1246 from 2340
1247 from 2340
1248 from 2340
1249 from 2340
1250 from 2340
1251 from 2340
1252 from 2340
1253 from 2340
1254 from 2340
1255 from 2340
1256 from 2340
1257 from 2340
1258 from 2340
1259 from 2340
1260 from 2340
1261 from 2340
1262 from 2340
1263 from 2340
1264 from 2340
1265 from 2340
1266 from 2340
1267 from 2340
1268 from 2340
1269 from 2340
1270 from 2340
1271 from 2340
1272 from 2340
1273 from 2340
1274 from 2340
1275 from 2340
1276 from 2340
1277 from 2340
1278 from 2340
1279 from 2340
1280 from 2340
1281 from 2340
1282 from 2340
1283 from 2340
1284 from 2340
1285 from 2340
1286 from 2340
1287 from 2340
1288 from 2340
1289 from 2340
1290 from 2340
1291 from 2340
1292 from 2340
1293 from 2340
1294 from 2340
1295 from 2340
1296 from 2340
1297 from 2340
1298 from 2340
1299 from 2340
1300 from 2340
1301 from 2340
1302 from 2340
1303 from 2340
1304 from 2340
1305 from 2340
1306 from 2340
1307 from 2340
1308 from 2340
1309 from 2340
1310 from 2340
1311 from 2340
1312 from 2340
1313 from 2340
1314 from 2340
1315 from 2340
1316 from 2340
1317 from 2340
1318 from 2340
1319 from 2340
1320 from 2340
1321 from 2340
1322 from 2340
1323 from 2340
1324 from 2340
1325 from 2340
1326 from 2340
1327 from 2340
1328 from 2340
1329 from 2340
1330 from 2340
1331 from 2340
1332 from 2340
1333 from 2340
1334 from 2340
1335 from 2340
1336 from 2340
1337 from 2340
1338 from 2340
1339 from 2340
1340 from 2340
1341 from 2340
1342 from 2340
1343 from 2340
1344 from 2340
1345 from 2340
1346 from 2340
1347 from 2340
1348 from 2340
1349 from 2340
1350 from 2340
1351 from 2340
1352 from 2340
1353 from 2340
1354 from 2340
1355 from 2340
1356 from 2340
1357 from 2340
1358 from 2340
1359 from 2340
1360 from 2340
1361 from 2340
1362 from 2340
1363 from 2340
1364 from 2340
1365 from 2340
1366 from 2340
1367 from 2340
1368 from 2340
1369 from 2340
1370 from 2340
1371 from 2340
1372 from 2340
1373 from 2340
1374 from 2340
1375 from 2340
1376 from 2340
1377 from 2340
1378 from 2340
1379 from 2340
1380 from 2340
1381 from 2340
1382 from 2340
1383 from 2340
1384 from 2340
1385 from 2340
1386 from 2340
1387 from 2340
1388 from 2340
1389 from 2340
1390 from 2340
1391 from 2340
1392 from 2340
1393 from 2340
1394 from 2340
1395 from 2340
1396 from 2340
1397 from 2340
1398 from 2340
1399 from 2340
1400 from 2340
1401 from 2340
1402 from 2340
1403 from 2340
1404 from 2340
1405 from 2340
1406 from 2340
1407 from 2340
1408 from 2340
1409 from 2340
1410 from 2340
1411 from 2340
1412 from 2340
1413 from 2340
1414 from 2340
1415 from 2340
1416 from 2340
1417 from 2340
1418 from 2340
1419 from 2340
1420 from 2340
1421 from 2340
1422 from 2340
1423 from 2340
1424 from 2340
1425 from 2340
1426 from 2340
1427 from 2340
1428 from 2340
1429 from 2340
1430 from 2340
1431 from 2340
1432 from 2340
1433 from 2340
1434 from 2340
1435 from 2340
1436 from 2340
1437 from 2340
1438 from 2340
1439 from 2340
1440 from 2340
1441 from 2340
1442 from 2340
1443 from 2340
1444 from 2340
1445 from 2340
1446 from 2340
1447 from 2340
1448 from 2340
1449 from 2340
1450 from 2340
1451 from 2340
1452 from 2340
1453 from 2340
1454 from 2340
1455 from 2340
1456 from 2340
1457 from 2340
1458 from 2340
1459 from 2340
1460 from 2340
1461 from 2340
1462 from 2340
1463 from 2340
1464 from 2340
1465 from 2340
1466 from 2340
1467 from 2340
1468 from 2340
1469 from 2340
1470 from 2340
1471 from 2340
1472 from 2340
1473 from 2340
1474 from 2340
1475 from 2340
1476 from 2340
1477 from 2340
1478 from 2340
1479 from 2340
1480 from 2340
1481 from 2340
1482 from 2340
1483 from 2340
1484 from 2340
1485 from 2340
1486 from 2340
1487 from 2340
1488 from 2340
1489 from 2340
1490 from 2340
1491 from 2340
1492 from 2340
1493 from 2340
1494 from 2340
1495 from 2340
1496 from 2340
1497 from 2340
1498 from 2340
1499 from 2340
1500 from 2340
1501 from 2340
1502 from 2340
1503 from 2340
1504 from 2340
1505 from 2340
1506 from 2340
1507 from 2340
1508 from 2340
1509 from 2340
1510 from 2340
1511 from 2340
1512 from 2340
1513 from 2340
1514 from 2340
1515 from 2340
1516 from 2340
1517 from 2340
1518 from 2340
1519 from 2340
1520 from 2340
1521 from 2340
1522 from 2340
1523 from 2340
1524 from 2340
1525 from 2340
1526 from 2340
1527 from 2340
1528 from 2340
1529 from 2340
1530 from 2340
1531 from 2340
1532 from 2340
1533 from 2340
1534 from 2340
1535 from 2340
1536 from 2340
1537 from 2340
1538 from 2340
1539 from 2340
1540 from 2340
1541 from 2340
1542 from 2340
1543 from 2340
1544 from 2340
1545 from 2340
1546 from 2340
1547 from 2340
1548 from 2340
1549 from 2340
1550 from 2340
1551 from 2340
1552 from 2340
1553 from 2340
1554 from 2340
1555 from 2340
1556 from 2340
1557 from 2340
1558 from 2340
1559 from 2340
1560 from 2340
1561 from 2340
1562 from 2340
1563 from 2340
1564 from 2340
1565 from 2340
1566 from 2340
1567 from 2340
1568 from 2340
1569 from 2340
1570 from 2340
1571 from 2340
1572 from 2340
1573 from 2340
1574 from 2340
1575 from 2340
1576 from 2340
1577 from 2340
1578 from 2340
1579 from 2340
1580 from 2340
1581 from 2340
1582 from 2340
1583 from 2340
1584 from 2340
1585 from 2340
1586 from 2340
1587 from 2340
1588 from 2340
1589 from 2340
1590 from 2340
1591 from 2340
1592 from 2340
1593 from 2340
1594 from 2340
1595 from 2340
1596 from 2340
1597 from 2340
1598 from 2340
1599 from 2340
1600 from 2340
1601 from 2340
1602 from 2340
1603 from 2340
1604 from 2340
1605 from 2340
1606 from 2340
1607 from 2340
1608 from 2340
1609 from 2340
1610 from 2340
1611 from 2340
1612 from 2340
1613 from 2340
1614 from 2340
1615 from 2340
1616 from 2340
1617 from 2340
1618 from 2340
1619 from 2340
1620 from 2340
1621 from 2340
1622 from 2340
1623 from 2340
1624 from 2340
1625 from 2340
1626 from 2340
1627 from 2340
1628 from 2340
1629 from 2340
1630 from 2340
1631 from 2340
1632 from 2340
1633 from 2340
1634 from 2340
1635 from 2340
1636 from 2340
1637 from 2340
1638 from 2340
1639 from 2340
1640 from 2340
1641 from 2340
1642 from 2340
1643 from 2340
1644 from 2340
1645 from 2340
1646 from 2340
1647 from 2340
1648 from 2340
1649 from 2340
1650 from 2340
1651 from 2340
1652 from 2340
1653 from 2340
1654 from 2340
1655 from 2340
1656 from 2340
1657 from 2340
1658 from 2340
1659 from 2340
1660 from 2340
1661 from 2340
1662 from 2340
1663 from 2340
1664 from 2340
1665 from 2340
1666 from 2340
1667 from 2340
1668 from 2340
1669 from 2340
1670 from 2340
1671 from 2340
1672 from 2340
1673 from 2340
1674 from 2340
1675 from 2340
1676 from 2340
1677 from 2340
1678 from 2340
1679 from 2340
1680 from 2340
1681 from 2340
1682 from 2340
1683 from 2340
1684 from 2340
1685 from 2340
1686 from 2340
1687 from 2340
1688 from 2340
1689 from 2340
1690 from 2340
1691 from 2340
1692 from 2340
1693 from 2340
1694 from 2340
1695 from 2340
1696 from 2340
1697 from 2340
1698 from 2340
1699 from 2340
1700 from 2340
1701 from 2340
1702 from 2340
1703 from 2340
1704 from 2340
1705 from 2340
1706 from 2340
1707 from 2340
1708 from 2340
1709 from 2340
1710 from 2340
1711 from 2340
1712 from 2340
1713 from 2340
1714 from 2340

1715 from 2340
1716 from 2340
1717 from 2340
1718 from 2340
1719 from 2340
1720 from 2340
1721 from 2340
1722 from 2340
1723 from 2340
1724 from 2340
1725 from 2340
1726 from 2340
1727 from 2340
1728 from 2340
1729 from 2340
1730 from 2340
1731 from 2340
1732 from 2340
1733 from 2340
1734 from 2340
1735 from 2340
1736 from 2340
1737 from 2340
1738 from 2340
1739 from 2340
1740 from 2340
1741 from 2340
1742 from 2340
1743 from 2340
1744 from 2340
1745 from 2340
1746 from 2340
1747 from 2340
1748 from 2340
1749 from 2340
1750 from 2340
1751 from 2340
1752 from 2340
1753 from 2340
1754 from 2340
1755 from 2340
1756 from 2340
1757 from 2340
1758 from 2340
1759 from 2340
1760 from 2340
1761 from 2340
1762 from 2340
1763 from 2340
1764 from 2340
1765 from 2340
1766 from 2340
1767 from 2340
1768 from 2340
1769 from 2340
1770 from 2340
1771 from 2340
1772 from 2340
1773 from 2340
1774 from 2340
1775 from 2340
1776 from 2340
1777 from 2340
1778 from 2340
1779 from 2340
1780 from 2340
1781 from 2340
1782 from 2340
1783 from 2340
1784 from 2340
1785 from 2340
1786 from 2340
1787 from 2340
1788 from 2340
1789 from 2340
1790 from 2340
1791 from 2340
1792 from 2340
1793 from 2340
1794 from 2340
1795 from 2340
1796 from 2340
1797 from 2340
1798 from 2340
1799 from 2340
1800 from 2340
1801 from 2340
1802 from 2340
1803 from 2340
1804 from 2340
1805 from 2340
1806 from 2340
1807 from 2340
1808 from 2340
1809 from 2340
1810 from 2340
1811 from 2340
1812 from 2340
1813 from 2340
1814 from 2340
1815 from 2340
1816 from 2340
1817 from 2340
1818 from 2340
1819 from 2340
1820 from 2340
1821 from 2340
1822 from 2340
1823 from 2340
1824 from 2340
1825 from 2340
1826 from 2340
1827 from 2340
1828 from 2340
1829 from 2340
1830 from 2340
1831 from 2340
1832 from 2340
1833 from 2340
1834 from 2340
1835 from 2340
1836 from 2340
1837 from 2340
1838 from 2340
1839 from 2340
1840 from 2340
1841 from 2340
1842 from 2340
1843 from 2340
1844 from 2340
1845 from 2340
1846 from 2340
1847 from 2340
1848 from 2340
1849 from 2340
1850 from 2340
1851 from 2340
1852 from 2340
1853 from 2340
1854 from 2340
1855 from 2340
1856 from 2340
1857 from 2340
1858 from 2340
1859 from 2340
1860 from 2340
1861 from 2340
1862 from 2340
1863 from 2340
1864 from 2340
1865 from 2340
1866 from 2340
1867 from 2340
1868 from 2340
1869 from 2340
1870 from 2340
1871 from 2340
1872 from 2340
1873 from 2340
1874 from 2340
1875 from 2340
1876 from 2340
1877 from 2340
1878 from 2340
1879 from 2340
1880 from 2340
1881 from 2340
1882 from 2340
1883 from 2340
1884 from 2340
1885 from 2340
1886 from 2340
1887 from 2340
1888 from 2340
1889 from 2340
1890 from 2340
1891 from 2340
1892 from 2340
1893 from 2340
1894 from 2340
1895 from 2340
1896 from 2340
1897 from 2340
1898 from 2340
1899 from 2340
1900 from 2340
1901 from 2340
1902 from 2340
1903 from 2340
1904 from 2340
1905 from 2340
1906 from 2340
1907 from 2340
1908 from 2340
1909 from 2340
1910 from 2340
1911 from 2340
1912 from 2340
1913 from 2340
1914 from 2340
1915 from 2340
1916 from 2340
1917 from 2340
1918 from 2340
1919 from 2340
1920 from 2340
1921 from 2340
1922 from 2340
1923 from 2340
1924 from 2340
1925 from 2340
1926 from 2340
1927 from 2340
1928 from 2340
1929 from 2340
1930 from 2340
1931 from 2340
1932 from 2340
1933 from 2340
1934 from 2340
1935 from 2340
1936 from 2340
1937 from 2340
1938 from 2340
1939 from 2340
1940 from 2340
1941 from 2340
1942 from 2340
1943 from 2340
1944 from 2340
1945 from 2340
1946 from 2340
1947 from 2340
1948 from 2340
1949 from 2340
1950 from 2340
1951 from 2340
1952 from 2340
1953 from 2340
1954 from 2340
1955 from 2340
1956 from 2340
1957 from 2340
1958 from 2340
1959 from 2340
1960 from 2340
1961 from 2340
1962 from 2340
1963 from 2340
1964 from 2340
1965 from 2340
1966 from 2340
1967 from 2340
1968 from 2340
1969 from 2340
1970 from 2340
1971 from 2340
1972 from 2340
1973 from 2340
1974 from 2340
1975 from 2340
1976 from 2340
1977 from 2340
1978 from 2340
1979 from 2340
1980 from 2340
1981 from 2340
1982 from 2340
1983 from 2340
1984 from 2340
1985 from 2340
1986 from 2340
1987 from 2340
1988 from 2340
1989 from 2340
1990 from 2340
1991 from 2340
1992 from 2340
1993 from 2340
1994 from 2340
1995 from 2340
1996 from 2340
1997 from 2340
1998 from 2340
1999 from 2340
2000 from 2340
2001 from 2340
2002 from 2340
2003 from 2340
2004 from 2340
2005 from 2340
2006 from 2340
2007 from 2340
2008 from 2340
2009 from 2340
2010 from 2340
2011 from 2340
2012 from 2340
2013 from 2340
2014 from 2340
2015 from 2340
2016 from 2340
2017 from 2340
2018 from 2340
2019 from 2340
2020 from 2340
2021 from 2340
2022 from 2340
2023 from 2340
2024 from 2340
2025 from 2340
2026 from 2340
2027 from 2340
2028 from 2340
2029 from 2340
2030 from 2340
2031 from 2340
2032 from 2340
2033 from 2340
2034 from 2340
2035 from 2340
2036 from 2340
2037 from 2340
2038 from 2340
2039 from 2340
2040 from 2340
2041 from 2340
2042 from 2340
2043 from 2340
2044 from 2340
2045 from 2340
2046 from 2340
2047 from 2340
2048 from 2340
2049 from 2340
2050 from 2340
2051 from 2340
2052 from 2340
2053 from 2340
2054 from 2340
2055 from 2340
2056 from 2340
2057 from 2340
2058 from 2340
2059 from 2340
2060 from 2340
2061 from 2340
2062 from 2340
2063 from 2340
2064 from 2340
2065 from 2340
2066 from 2340
2067 from 2340
2068 from 2340
2069 from 2340
2070 from 2340
2071 from 2340
2072 from 2340
2073 from 2340
2074 from 2340
2075 from 2340
2076 from 2340
2077 from 2340
2078 from 2340
2079 from 2340
2080 from 2340
2081 from 2340
2082 from 2340
2083 from 2340
2084 from 2340
2085 from 2340
2086 from 2340
2087 from 2340
2088 from 2340
2089 from 2340
2090 from 2340
2091 from 2340
2092 from 2340
2093 from 2340
2094 from 2340
2095 from 2340
2096 from 2340
2097 from 2340
2098 from 2340
2099 from 2340
2100 from 2340
2101 from 2340
2102 from 2340
2103 from 2340
2104 from 2340
2105 from 2340
2106 from 2340
2107 from 2340
2108 from 2340
2109 from 2340
2110 from 2340
2111 from 2340
2112 from 2340
2113 from 2340
2114 from 2340
2115 from 2340
2116 from 2340
2117 from 2340
2118 from 2340
2119 from 2340
2120 from 2340
2121 from 2340
2122 from 2340
2123 from 2340
2124 from 2340
2125 from 2340
2126 from 2340
2127 from 2340
2128 from 2340
2129 from 2340
2130 from 2340
2131 from 2340
2132 from 2340
2133 from 2340
2134 from 2340
2135 from 2340
2136 from 2340
2137 from 2340
2138 from 2340
2139 from 2340
2140 from 2340
2141 from 2340
2142 from 2340
2143 from 2340
2144 from 2340
2145 from 2340
2146 from 2340
2147 from 2340
2148 from 2340
2149 from 2340
2150 from 2340
2151 from 2340
2152 from 2340
2153 from 2340
2154 from 2340
2155 from 2340
2156 from 2340
2157 from 2340
2158 from 2340
2159 from 2340
2160 from 2340
2161 from 2340
2162 from 2340
2163 from 2340
2164 from 2340
2165 from 2340
2166 from 2340
2167 from 2340
2168 from 2340
2169 from 2340
2170 from 2340
2171 from 2340
2172 from 2340
2173 from 2340
2174 from 2340
2175 from 2340
2176 from 2340
2177 from 2340
2178 from 2340
2179 from 2340
2180 from 2340
2181 from 2340
2182 from 2340
2183 from 2340
2184 from 2340
2185 from 2340
2186 from 2340
2187 from 2340
2188 from 2340
2189 from 2340
2190 from 2340
2191 from 2340
2192 from 2340
2193 from 2340
2194 from 2340
2195 from 2340
2196 from 2340
2197 from 2340
2198 from 2340
2199 from 2340
2200 from 2340
2201 from 2340
2202 from 2340
2203 from 2340
2204 from 2340
2205 from 2340
2206 from 2340
2207 from 2340
2208 from 2340
2209 from 2340
2210 from 2340
2211 from 2340
2212 from 2340
2213 from 2340
2214 from 2340
2215 from 2340
2216 from 2340
2217 from 2340
2218 from 2340
2219 from 2340
2220 from 2340
2221 from 2340
2222 from 2340
2223 from 2340
2224 from 2340
2225 from 2340
2226 from 2340
2227 from 2340
2228 from 2340
2229 from 2340
2230 from 2340
2231 from 2340
2232 from 2340
2233 from 2340
2234 from 2340
2235 from 2340
2236 from 2340
2237 from 2340
2238 from 2340
2239 from 2340
2240 from 2340
2241 from 2340
2242 from 2340
2243 from 2340
2244 from 2340
2245 from 2340
2246 from 2340
2247 from 2340
2248 from 2340
2249 from 2340
2250 from 2340
2251 from 2340
2252 from 2340
2253 from 2340
2254 from 2340
2255 from 2340
2256 from 2340
2257 from 2340
2258 from 2340
2259 from 2340
2260 from 2340
2261 from 2340
2262 from 2340

2263 from 2340
2264 from 2340
2265 from 2340
2266 from 2340
2267 from 2340
2268 from 2340
2269 from 2340
2270 from 2340
2271 from 2340
2272 from 2340
2273 from 2340
2274 from 2340
2275 from 2340
2276 from 2340
2277 from 2340
2278 from 2340
2279 from 2340
2280 from 2340
2281 from 2340
2282 from 2340
2283 from 2340
2284 from 2340
2285 from 2340
2286 from 2340
2287 from 2340
2288 from 2340
2289 from 2340
2290 from 2340
2291 from 2340
2292 from 2340
2293 from 2340
2294 from 2340
2295 from 2340
2296 from 2340
2297 from 2340
2298 from 2340
2299 from 2340
2300 from 2340
2301 from 2340
2302 from 2340
2303 from 2340
2304 from 2340
2305 from 2340
2306 from 2340
2307 from 2340
2308 from 2340
2309 from 2340
2310 from 2340
2311 from 2340
2312 from 2340
2313 from 2340
2314 from 2340
2315 from 2340
2316 from 2340
2317 from 2340
2318 from 2340
2319 from 2340
2320 from 2340
2321 from 2340
2322 from 2340
2323 from 2340
2324 from 2340
2325 from 2340
2326 from 2340
2327 from 2340
2328 from 2340
2329 from 2340
2330 from 2340
2331 from 2340
2332 from 2340
2333 from 2340
2334 from 2340
2335 from 2340
2336 from 2340
2337 from 2340
2338 from 2340
2339 from 2340

In [7]:
df_raw = pd.DataFrame({'id':id_movie, 
                       'imdb_id':imdb_id,
                       'title':title, 
                       'overview_raw':overview,
                       'popularity':popularity,
                       'adult':adult,
                       'runtime':runtime,
                       'revenue':revenue,
                       'budget':budget,
                       'release_dates_raw':release_dates,
                       'release_date':release_date,
                       'vote_count':vote_count,
                       'vote_average':vote_average,

                       'genres':genres,
                       'genre_id_list': genre_id_list,
                       'genre_name_list': genre_name_list,
                       
                       'countries_raw':countries,
                       'country_id_list':country_id_list,
                       'country_name_list':country_name_list,
                       
                       'companies_raw':companies,
                       'company_id_list':company_id_list,
                       'company_name_list':company_name_list,
                       'company_original_country_list':company_oc_list,
                       'original_language':original_language,
                       'translations_raw':translations,
                       'translation_id_list':translation_id_list,
                       'translation_name_list':translation_name_list,
             
                       'casts_raw':casts,
                       'cast_name_list':cast_name_list,
                       'cast_original_name_list':cast_oname_list,
                       'cast_character_list':cast_character_list,
                       'cast_popularity_list':cast_popularity_list,
                       'cast_id_list':cast_id_list})
                       
df_raw.head()

,id,imdb_id,title,overview_raw,popularity,adult,runtime,revenue,budget,release_dates_raw,...,original_language,translations_raw,translation_id_list,translation_name_list,casts_raw,cast_name_list,cast_original_name_list,cast_character_list,cast_popularity_list,cast_id_list
0,683328,tt15528292,The Big 4,Seorang detektif wanita bekerja sama dengan em...,875.115,False,141,0,0,[results],...,id,[translations],"[SA, CZ, DK, DE, US, ES, MX, FR, IL, HR, ID, I...","[Arabic, Czech, Danish, German, English, Spani...","[cast, crew]","[Abimana Aryasatya, Putri Marino, Lutesha, Ari...","[Abimana Aryasatya, Putri Marino, Lutesha, Ari...","[Topan, Dina, Alpha, Jenggo, Pelor, Antonio Sa...","[3.238, 3.238, 12.992, 1.486, 2.724, 3.792, 0....","[1203378, 1891479, 1916568, 1488899, 2752309, ..."
1,180299,tt2265171,The Raid 2: Berandal,RAMA (Iko Uwais) adalah seorang polisi baru ya...,30.099,False,150,6566916,4500000,[results],...,id,[translations],"[SA, BG, CZ, DK, DE, GR, US, ES, MX, FI, FR, I...","[Arabic, Bulgarian, Czech, Danish, German, Gre...","[cast, crew]","[Iko Uwais, Arifin Putra, Tio Pakusadewo, Oka ...","[Iko Uwais, Arifin Putra, Tio Pakusadewo, Oka ...","[Rama, Ucok, Bangun, Eka, Bejo, The Assassin, ...","[15.672, 0.776, 1.446, 5.902, 2.717, 7.914, 11...","[113732, 1290939, 1155281, 1154465, 142018, 13..."
2,925786,tt16915972,Pengabdi Setan 2: Communion,Beberapa tahun setelah berhasil menyelamatkan ...,44.238,False,119,0,0,[results],...,id,[translations],"[DE, US, ES, IR, ID, KR, MY, RU, CN, TW]","[German, English, Spanish, Persian, Indonesian...","[cast, crew]","[Tara Basro, Bront Palarae, Endy Arfian, Ratu ...","[Tara Basro, Bront Palarae, Endy Arfian, Ratu ...","[Rini, Bahri Suwono, Toni, Tari, Bondi, Budima...","[9.334, 6.865, 3.628, 6.96, 1.15, 1.89, 1.457,...","[1154466, 562217, 581687, 1150391, 1873239, 15..."
3,94329,tt1899353,Serbuan Maut,ekelompok tim SWAT tiba di sebuah blok apartem...,26.744,False,101,9148519,1100000,[results],...,id,[translations],"[SA, BG, CZ, DK, DE, GR, US, ES, MX, FI, FR, I...","[Arabic, Bulgarian, Czech, Danish, German, Gre...","[cast, crew]","[Iko Uwais, Joe Taslim, Donny Alamsyah, Yayan ...","[Iko Uwais, Joe Taslim, Donny Alamsyah, Yayan ...","[Rama, Jaka, Andi, Mad Dog, Wahyu, Tama, Bowo,...","[15.672, 10.432, 3.609, 3.917, 2.005, 0.6, 2.3...","[113732, 592496, 1202416, 142019, 1001665, 592..."
4,467012,tt7076834,Pengabdi Setan,"Setelah Rini ditinggal mati ibunya, ada sesuat...",19.740,False,107,0,147983,[results],...,id,[translations],"[BG, CZ, US, ES, MX, IR, FR, HU, ID, IT, JP, K...","[Bulgarian, Czech, English, Spanish, Spanish, ...","[cast, crew]","[Tara Basro, Endy Arfian, Nasar Anuz, M. Adhiy...","[Tara Basro, Endy Arfian, Nasar Anuz, M. Adhiy...","[Rini Suwono, Toni, Bondi, Ian, Mawarni Suwono...","[9.334, 3.628, 1.15, 0.833, 1.1, 6.865, 1.266,...","[1154466, 581687, 1873239, 1873241, 1873242, 5..."

In [8]:
df_raw = df_raw.drop_duplicates(subset=['id'])

In [9]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2248 entries, 0 to 2333
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             2248 non-null   int64
 1   imdb_id                        1080 non-null   object
 2   title                          2248 non-null   object
 3   overview_raw                   2248 non-null   object
 4   popularity                     2248 non-null   float64
 5   adult                          2248 non-null   bool
 6   runtime                        2248 non-null   int64
 7   revenue                        2248 non-null   int64
 8   budget                         2248 non-null   int64
 9   release_dates_raw              2248 non-null   object
 10  release_date                   2248 non-null   object
 11  vote_count                     2248 non-null   int64
 12  vote_average                   2248 non-null   float64
 13  genres                         2248 non-null   object
 14  genre_id_list                  2248 non-null   object
 15  genre_name_list                2248 non-null   object
 16  countries_raw                  2248 non-null   object
 17  country_id_list                2248 non-null   object
 18  country_name_list              2248 non-null   object
 19  companies_raw                  2248 non-null   object
 20  company_id_list                2248 non-null   object
 21  company_name_list              2248 non-null   object
 22  company_original_country_list  2248 non-null   object
 23  original_language              2248 non-null   object
 24  translations_raw               2248 non-null   object
 25  translation_id_list            2248 non-null   object
 26  translation_name_list          2248 non-null   object
 27  casts_raw                      2248 non-null   object
 28  cast_name_list                 2248 non-null   object
 29  cast_original_name_list        2248 non-null   object
 30  cast_character_list            2248 non-null   object
 31  cast_popularity_list           2248 non-null   object
 32  cast_id_list                   2248 non-null   object
dtypes: bool(1), float64(2), int64(5), object(25)
memory usage: 581.8+ KB

In [10]:
df_raw.to_excel('film_indo_raw.xlsx')

## Data Cleaning

### Data Genre

In [11]:
# Mengecek kolom genre_id_list
df_raw.genre_id_list

0         [28, 35, 80]
1         [28, 80, 53]
2       [18, 27, 9648]
3         [28, 53, 80]
4       [27, 18, 9648]
             ...
2329                []
2330                []
2331                []
2332                []
2333       [18, 10749]
Name: genre_id_list, Length: 2248, dtype: object

In [12]:
# Membuat list kosong id_genre dan nama_genre
id_genre = []
nama_genre = []

# Melakukan looping untuk mengumpulkan semua id genre dalam satu list id_genre
for i in df_raw.genre_id_list:
    id_genre = id_genre+i

# Melakukan looping untuk mengumpulkan semua nama genre dalam satu list nama_genre
for i in df_raw.genre_name_list:
    nama_genre = nama_genre+i

In [13]:
# Melihat 10 data pertama id_genre
id_genre[:10]

[28, 35, 80, 28, 80, 53, 18, 27, 9648, 28]

In [15]:
# Melihat 10 data pertama nama_genre
nama_genre[:10]

['Aksi',
 'Komedi',
 'Kejahatan',
 'Aksi',
 'Kejahatan',
 'Cerita Seru',
 'Drama',
 'Kengerian',
 'Misteri',
 'Aksi']

In [19]:
# Membuat dataframe df_genre
df_genre = pd.DataFrame({'id':id_genre, 'nama':nama_genre})
# Drop data yang duplikasi
df_genre = df_genre.drop_duplicates()
# Mengurutkan data berdasarkan id
df_genre = df_genre.sort_values('id').reset_index(drop=True)
# Melihat data df_genre
print(df_genre)

       id          nama
0      12   Petualangan
1      14       Fantasi
2      16       Animasi
3      18         Drama
4      27     Kengerian
5      28          Aksi
6      35        Komedi
7      36       Sejarah
8      37         Barat
9      53   Cerita Seru
10     80     Kejahatan
11     99    Dokumenter
12    878  Cerita Fiksi
13   9648       Misteri
14  10402         Musik
15  10749    Percintaan
16  10751      Keluarga
17  10752     Kejahatan
18  10770       Film TV

In [21]:
# Menyimpan df_genre dalam bentuk file csv tanpa menyimpan indeksnya
df_genre.to_csv('genre.csv', index=False)

### Data Perusahaan

In [22]:
# Mengecek kolom genre_id_list
df_raw.company_id_list

0                             [138594]
1            [58, 11341, 12141, 12142]
2                [7872, 72491, 104946]
3       [58, 860, 11341, 12141, 12142]
4                         [7036, 7872]
                     ...
2329                                []
2330                                []
2331                                []
2332                                []
2333                          [128632]
Name: company_id_list, Length: 2248, dtype: object

In [23]:
# Membuat list kosong id_perusahaan, nama_perusahaan, dan negara_asal_perusahaan
id_perusahaan = []
nama_perusahaan = []
negara_asal_perusahaan = []

# Melakukan looping untuk mengumpulkan semua id perusahaan dalam satu list id_perusahaan
for i in df_raw.company_id_list:
    id_perusahaan = id_perusahaan+i

# Melakukan looping untuk mengumpulkan semua nama perusahaan dalam satu list nama_perusahaan
for i in df_raw.company_name_list:
    nama_perusahaan = nama_perusahaan+i

# Melakukan looping untuk mengumpulkan semua negara asal perusahaan dalam satu list negara_asal_perusahaan
for i in df_raw.company_original_country_list:
    negara_asal_perusahaan = negara_asal_perusahaan+i

In [24]:
# Melihat 10 data pertama list id_perusahaan
id_perusahaan[:10]

[138594, 58, 11341, 12141, 12142, 7872, 72491, 104946, 58, 860]

In [27]:
# Melihat 10 data pertama list nama_perusahaan
nama_perusahaan[:10]

['Frontier Pictures',
 'Sony Pictures Classics',
 'Stage 6 Films',
 'Pt. Merantau Films',
 'XYZ Films',
 'Rapi Films',
 'Brown Entertainment',
 'Sky Media',
 'Sony Pictures Classics',
 'Celluloid Dreams']

In [28]:
# Melihat 10 data pertama list negara_asal_perusahaan
negara_asal_perusahaan[:10]

['ID', 'US', 'US', 'ID', 'US', 'ID', '', 'ID', 'US', 'FR']

In [31]:
# Membuat dataframe df_perusahaan
df_perusahaan = pd.DataFrame({'id':id_perusahaan, 'nama':nama_perusahaan, 'negara_asal':negara_asal_perusahaan})
# Melakukan drop duplikasi pada data 
df_perusahaan = df_perusahaan.drop_duplicates()
# Mengurutkan data berdasarkan id
df_perusahaan = df_perusahaan.sort_values('id').reset_index(drop=True)
# Menampilkan data df_perusahaan
print(df_perusahaan)

          id                    nama negara_asal
0         25        20th Century Fox          US
1         58  Sony Pictures Classics          US
2        789             Pallas Film          DE
3        860        Celluloid Dreams          FR
4       3052     Troma Entertainment          US
...      ...                     ...         ...
1185  188242             Miura Films
1186  188528     RUMPI Entertainment
1187  188559           Asaloka Films
1188  188706       Silent D Pictures
1189  188933                Yoikatra

[1190 rows x 3 columns]

In [32]:
# Menyimpan df_perusahaan dalam bentuk file csv tanpa menyimpan indeksnya
df_perusahaan.to_csv('perusahaan.csv', index=False)

### Data Negara

In [59]:
# Mengecek kolom genre_id_list
df_raw.country_id_list

0               [ID]
1           [ID, US]
2               [ID]
3       [FR, ID, US]
4           [ID, KR]
            ...
2329            [ID]
2330            [ID]
2331            [ID]
2332            [ID]
2333            [ID]
Name: country_id_list, Length: 2248, dtype: object

In [62]:
# Membuat list kosong id_negara dan nama_negara
id_negara   = []
nama_negara = []

# Melakukan looping untuk mengumpulkan semua id negara dalam satu list id_negara
for i in df_raw.country_id_list:
    id_negara = id_negara+i

# Melakukan looping untuk mengumpulkan semua nama negara dalam satu list nama_negara
for i in df_raw.country_name_list:
    nama_negara = nama_negara+i

In [63]:
# Melihat 10 data pertama list nama_negara
nama_negara[:10]

['Indonesia',
 'Indonesia',
 'United States of America',
 'Indonesia',
 'France',
 'Indonesia',
 'United States of America',
 'Indonesia',
 'South Korea',
 'Indonesia']

In [64]:
# Membuat dataframe df_negara
df_negara = pd.DataFrame({'id':id_negara, 'nama':nama_negara})
# Melakukan drop duplikasi pada data 
df_negara = df_negara.drop_duplicates()
# Mengurutkan data berdasarkan id
df_negara = df_negara.sort_values('id').reset_index(drop=True)
# Menampilkan data df_negara
print(df_negara)

    id                      nama
0   AU                 Australia
1   BE                   Belgium
2   CN                     China
3   DE                   Germany
4   DK                   Denmark
5   FR                    France
6   GB            United Kingdom
7   HK                 Hong Kong
8   ID                 Indonesia
9   JP                     Japan
10  KR               South Korea
11  MY                  Malaysia
12  NL               Netherlands
13  NO                    Norway
14  NZ               New Zealand
15  PH               Philippines
16  PL                    Poland
17  QA                     Qatar
18  SG                 Singapore
19  TH                  Thailand
20  TW                    Taiwan
21  US  United States of America
22  ZA              South Africa

In [65]:
# Menyimpan df_negar dalam bentuk file csv tanpa menyimpan indeksnya
df_negara.to_csv('negara.csv', index=False)

### Data Pemeran

In [33]:
# Melihat kolom data untuk mengambil kolom-kolom berkaitan dengan data pemeran
df_raw.columns

Index(['id', 'imdb_id', 'title', 'overview_raw', 'popularity', 'adult',
       'runtime', 'revenue', 'budget', 'release_dates_raw', 'release_date',
       'vote_count', 'vote_average', 'genres', 'genre_id_list',
       'genre_name_list', 'countries_raw', 'country_id_list',
       'country_name_list', 'companies_raw', 'company_id_list',
       'company_name_list', 'company_original_country_list',
       'original_language', 'translations_raw', 'translation_id_list',
       'translation_name_list', 'casts_raw', 'cast_name_list',
       'cast_original_name_list', 'cast_character_list',
       'cast_popularity_list', 'cast_id_list'],
      dtype='object')

In [34]:
# Mengumpulkan data pemeran dalam list
id_pemeran = []
nama_pemeran = []
nama_asli_pemeran = []
karakter_diperankan = []
popularitas_pemeran = []

for i in df_raw.cast_id_list:
    id_pemeran = id_pemeran+i
for i in df_raw.cast_name_list:
    nama_pemeran = nama_pemeran+i
for i in df_raw.cast_original_name_list:
    nama_asli_pemeran = nama_asli_pemeran+i
for i in df_raw.cast_character_list:
    karakter_diperankan = karakter_diperankan+i
for i in df_raw.cast_popularity_list:
    popularitas_pemeran = popularitas_pemeran+i

In [35]:
# Mebuat kolom baru jumlah pemeran
df_raw['jumlah_pemeran'] =  df_raw['cast_id_list'].apply(lambda x: len(x))

In [44]:
# Membuat list kosong id_film
id_film = []
# Mengumpulkan list id_film sejuamlah jumlah pemeran pada masing-masing film
for i, jp in zip(df_raw.id, df_raw['jumlah_pemeran']):
    id_film= id_film + [i]*jp

In [75]:
# Membuat dataframe df_pemeran
df_pemeran = pd.DataFrame({'id'          : id_pemeran,
                        'nama'        : nama_pemeran,
                        'nama_asli'   : nama_asli_pemeran,
                        'id_film'     : id_film,
                        'karakter'    : karakter_diperankan, 
                        'popularitas' :popularitas_pemeran}) 
# Drop duplikasi data pada kolom id dan id_film
df_pemeran = df_pemeran.drop_duplicates(subset=['id', 'id_film'])
# Menampilkan ata df_pemeran
print(df_pemeran)

            id               nama          nama_asli  id_film      karakter  \
0      1203378  Abimana Aryasatya  Abimana Aryasatya   683328         Topan
1      1891479       Putri Marino       Putri Marino   683328          Dina
2      1916568            Lutesha            Lutesha   683328         Alpha
3      1488899       Arie Kriting       Arie Kriting   683328        Jenggo
4      2752309    Kristo Immanuel    Kristo Immanuel   683328         Pelor
...        ...                ...                ...      ...           ...
22770  1716632       Sadana Agung       Sadana Agung   595307          Niki
22771  2119647    Kevin Bzezovski    Kevin Bzezovski   595307
22772  2304050        Messi Gusti        Messi Gusti   595307
22773  2077543       Ananta Rispo       Ananta Rispo   595307  Agency Owner
22774  1368172      Fico Fachriza      Fico Fachriza   595307   Agency Crew

       popularitas
0            3.238
1            3.238
2           12.992
3            1.486
4            2.724
...            ...
22770        0.883
22771        0.600
22772        0.600
22773        0.600
22774        0.700

[22760 rows x 6 columns]

In [76]:
# Menyimpan df_pemeran dalam bentuk file csv tanpa menyimpan indeksnya
df_pemeran.to_csv('pemeran.csv', index=False)

### Data Film

In [213]:
# Melihat nama kolom pada data df_raw
df_raw.columns

Index(['id', 'imdb_id', 'title', 'overview_raw', 'popularity', 'adult',
       'runtime', 'revenue', 'budget', 'release_dates_raw', 'release_date',
       'vote_count', 'vote_average', 'genres', 'genre_id_list',
       'genre_name_list', 'countries_raw', 'country_id_list',
       'country_name_list', 'companies_raw', 'company_id_list',
       'company_name_list', 'company_original_country_list',
       'original_language', 'translations_raw', 'translation_id_list',
       'translation_name_list', 'casts_raw', 'cast_name_list',
       'cast_original_name_list', 'cast_character_list',
       'cast_popularity_list', 'cast_id_list', 'jumlah_cast'],
      dtype='object')

In [47]:
# Memilih kolom yang diinginkan
df_film = df_raw[['id', 'imdb_id', 'title', 'overview_raw', 'popularity', 'adult',
                  'runtime', 'revenue', 'budget',  'release_date',
                  'vote_count', 'vote_average', 'genre_id_list',
                  'country_id_list', 'company_id_list',
                  'original_language', 'translation_id_list',
                  'cast_popularity_list', 'cast_id_list', 'jumlah_pemeran']]
# Mengganti nama kolom
df_film = df_film.rename(columns={"title":'judul',
                                  "overview_raw":"ringkasan",
                                 "popularity":"popularitas",
                                 "adult":"kategori_dewasa",
                                 "runtime":"durasi",
                                 "revenue":"pendapatan",
                                 "budget":"biaya_pembuatan",
                                 "release_date":"tanggal_rilis",
                                 "vote_count":"jumlah_vote",
                                 "vote_average":"rerata_vote",
                                 "original_language":"bahasa_asli"
                                 ""})

In [48]:
df_film

,id,imdb_id,judul,ringkasan,popularitas,kategori_dewasa,durasi,pendapatan,biaya_pembuatan,tanggal_rilis,jumlah_vote,rerata_vote,genre_id_list,country_id_list,company_id_list,bahasa_asli,translation_id_list,cast_popularity_list,cast_id_list,jumlah_pemeran
0,683328,tt15528292,The Big 4,Seorang detektif wanita bekerja sama dengan em...,875.115,False,141,0,0,2022-12-19,83,6.952,"[28, 35, 80]",[ID],[138594],id,"[SA, CZ, DK, DE, US, ES, MX, FR, IL, HR, ID, I...","[3.238, 3.238, 12.992, 1.486, 2.724, 3.792, 0....","[1203378, 1891479, 1916568, 1488899, 2752309, ...",25
1,180299,tt2265171,The Raid 2: Berandal,RAMA (Iko Uwais) adalah seorang polisi baru ya...,30.099,False,150,6566916,4500000,2014-03-27,1996,7.629,"[28, 80, 53]","[ID, US]","[58, 11341, 12141, 12142]",id,"[SA, BG, CZ, DK, DE, GR, US, ES, MX, FI, FR, I...","[15.672, 0.776, 1.446, 5.902, 2.717, 7.914, 11...","[113732, 1290939, 1155281, 1154465, 142018, 13...",60
2,925786,tt16915972,Pengabdi Setan 2: Communion,Beberapa tahun setelah berhasil menyelamatkan ...,44.238,False,119,0,0,2022-08-04,27,7.400,"[18, 27, 9648]",[ID],"[7872, 72491, 104946]",id,"[DE, US, ES, IR, ID, KR, MY, RU, CN, TW]","[9.334, 6.865, 3.628, 6.96, 1.15, 1.89, 1.457,...","[1154466, 562217, 581687, 1150391, 1873239, 15...",34
3,94329,tt1899353,Serbuan Maut,ekelompok tim SWAT tiba di sebuah blok apartem...,26.744,False,101,9148519,1100000,2012-03-23,2869,7.422,"[28, 53, 80]","[FR, ID, US]","[58, 860, 11341, 12141, 12142]",id,"[SA, BG, CZ, DK, DE, GR, US, ES, MX, FI, FR, I...","[15.672, 10.432, 3.609, 3.917, 2.005, 0.6, 2.3...","[113732, 592496, 1202416, 142019, 1001665, 592...",50
4,467012,tt7076834,Pengabdi Setan,"Setelah Rini ditinggal mati ibunya, ada sesuat...",19.740,False,107,0,147983,2017-09-28,204,6.800,"[27, 18, 9648]","[ID, KR]","[7036, 7872]",id,"[BG, CZ, US, ES, MX, IR, FR, HU, ID, IT, JP, K...","[9.334, 3.628, 1.15, 0.833, 1.1, 6.865, 1.266,...","[1154466, 581687, 1873239, 1873241, 1873242, 5...",15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329,597293,None,Mengalir dan Membara,,0.600,False,23,0,0,2018-08-15,0,0.000,[],[ID],[],id,[US],[],[],0
2330,597265,None,Positif,,0.600,False,4,0,0,2018-01-01,0,0.000,[],[ID],[],id,[US],[],[],0
2331,597259,None,Siaran Langsung Berakhir,,0.600,False,15,0,0,2018-11-01,0,0.000,[],[ID],[],id,[US],[],[],0
2332,596154,None,Laki Laki Virtual,,0.600,False,24,0,0,2014-01-01,0,0.000,[],[ID],[],id,[US],[],[],0
2333,595307,tt10530462,Nikah Yuk!,,0.606,False,94,0,0,2020-02-06,0,0.000,"[18, 10749]",[ID],[128632],id,[US],"[1.96, 0.985, 0.657, 0.744, 0.6, 2.085, 2.391,...","[1258984, 1167089, 1307923, 1973568, 2347809, ...",13

In [49]:
# Mengambil 4 genre pertama masing-masing dalam satu list
genre1 = []
for i in df_film.genre_id_list:
    try :
        genre1.append(i[0])
    except:
        genre1.append(None)
genre2 = []
for i in df_film.genre_id_list:
    try :
        genre2.append(i[1])
    except:
        genre2.append(None)
genre3 = []
for i in df_film.genre_id_list:
    try :
        genre3.append(i[2])
    except:
        genre3.append(None)
genre4 = []
for i in df_film.genre_id_list:
    try :
        genre4.append(i[3])
    except:
        genre4.append(None)

# Membuat kolom baru genre_1, genre_2, genre_3, dan genre_4
df_film['genre_1'] = genre1
df_film['genre_2'] = genre2
df_film['genre_3'] = genre3
df_film['genre_4'] = genre4

In [51]:
# Mengambil 4 negara pertama masing-masing dalam satu list
negara1 = []
for i in df_film.country_id_list:
    try :
        negara1.append(i[0])
    except:
        negara1.append(None)
negara2 = []
for i in df_film.country_id_list:
    try :
        negara2.append(i[1])
    except:
        negara2.append(None)
negara3 = []
for i in df_film.country_id_list:
    try :
        negara3.append(i[2])
    except:
        negara3.append(None)
negara4 = []
for i in df_film.country_id_list:
    try :
        negara4.append(i[3])
    except:
        negara4.append(None)

# Membuat kolom baru genre_1, genre_2, genre_3, dan genre_4
df_film['negara_1'] = negara1 
df_film['negara_2'] = negara2 
df_film['negara_3'] = negara3 
df_film['negara_4'] = negara4

In [53]:
# Mengambil 4 perusahaan pertama masing-masing dalam satu list
perusahaan1 = []
for i in df_film.company_id_list:
    try :
        perusahaan1.append(i[0])
    except:
        perusahaan1.append(None)
perusahaan2 = []
for i in df_film.company_id_list:
    try :
        perusahaan2.append(i[1])
    except:
        perusahaan2.append(None)
perusahaan3 = []
for i in df_film.company_id_list:
    try :
        perusahaan3.append(i[2])
    except:
        perusahaan3.append(None)
perusahaan4 = []
for i in df_film.company_id_list:
    try :
        perusahaan4.append(i[3])
    except:
        perusahaan4.append(None)

# Membuat kolom baru perusahaan_1, perusahaan_2, perusahaan_3, dan perusahaan_4
df_film['perusahaan_1'] = perusahaan1
df_film['perusahaan_2'] = perusahaan2
df_film['perusahaan_3'] = perusahaan3
df_film['perusahaan_4'] = perusahaan4

In [54]:
# Membuat kolom jumlah terjemahan film
df_film['jumlah_terjemahan'] =  df_film['translation_id_list'].apply(lambda x: len(x))

In [55]:
# Mengambil 5 pemeran pertama masing-masing dalam satu list
pemeran1 = []
for i in df_film.cast_id_list:
    try :
        pemeran1.append(i[0])
    except:
        pemeran1.append(None)
pemeran2 = []
for i in df_film.cast_id_list:
    try :
        pemeran2.append(i[1])
    except:
        pemeran2.append(None)
pemeran3 = []
for i in df_film.cast_id_list:
    try :
        pemeran3.append(i[2])
    except:
        pemeran3.append(None)
pemeran4 = []
for i in df_film.cast_id_list:
    try :
        pemeran4.append(i[3])
    except:
        pemeran4.append(None)
pemeran5 = []
for i in df_film.cast_id_list:
    try :
        pemeran5.append(i[4])
    except:
        pemeran5.append(None)

# Membuat kolom baru pemeran_utama_1, pemeran_utama_2, pemeran_utama_3, pemeran_utama_4, pemeran_utama_5
df_film['pemeran_utama_1'] = pemeran1
df_film['pemeran_utama_2'] = pemeran2
df_film['pemeran_utama_3'] = pemeran3
df_film['pemeran_utama_4'] = pemeran4
df_film['pemeran_utama_5'] = pemeran5

In [56]:
# Fungsi menghitung rata-rata pada lsit
def pop_avg(list_pop):
    try:
        result = sum(np.array(list_pop))/len(list_pop)
    except:
        result = None
    return result

# menambahkan kolom rata-rata popularitas pemeran dalam film
df_film['rata2_pop_pemeran'] =  df_film['cast_popularity_list'].apply(lambda x: pop_avg(x))

In [58]:
# Standarisasi tipe data
df_film['tanggal_rilis'] = pd.to_datetime(df_film['tanggal_rilis'])
df_film['kategori_dewasa'] = df_film['kategori_dewasa'].astype('boolean')

In [66]:
# Drop duplikasi
df_film = df_film.drop_duplicates(subset=['id'])

In [69]:
df_film.columns

Index(['id', 'imdb_id', 'judul', 'ringkasan', 'popularitas', 'kategori_dewasa',
       'durasi', 'pendapatan', 'biaya_pembuatan', 'tanggal_rilis',
       'jumlah_vote', 'rerata_vote', 'genre_id_list', 'country_id_list',
       'company_id_list', 'bahasa_asli', 'translation_id_list',
       'cast_popularity_list', 'cast_id_list', 'jumlah_pemeran', 'genre_1',
       'genre_2', 'genre_3', 'genre_4', 'negara_1', 'negara_2', 'negara_3',
       'negara_4', 'perusahaan_1', 'perusahaan_2', 'perusahaan_3',
       'perusahaan_4', 'jumlah_terjemahan', 'pemeran_utama_1',
       'pemeran_utama_2', 'pemeran_utama_3', 'pemeran_utama_4',
       'pemeran_utama_5', 'rata2_pop_pemeran'],
      dtype='object')

In [70]:
# Menghapus Kolom yang tidak diperlukan
df_film = df_film.drop(columns=['genre_id_list', 'country_id_list',
       'company_id_list', 'bahasa_asli', 'translation_id_list',
       'cast_popularity_list', 'cast_id_list', ])

In [71]:
df_film

,id,imdb_id,judul,ringkasan,popularitas,kategori_dewasa,durasi,pendapatan,biaya_pembuatan,tanggal_rilis,...,perusahaan_2,perusahaan_3,perusahaan_4,jumlah_terjemahan,pemeran_utama_1,pemeran_utama_2,pemeran_utama_3,pemeran_utama_4,pemeran_utama_5,rata2_pop_pemeran
0,683328,tt15528292,The Big 4,Seorang detektif wanita bekerja sama dengan em...,875.115,False,141,0,0,2022-12-19,...,NaN,NaN,NaN,26,1203378.0,1891479.0,1916568.0,1488899.0,2752309.0,2.304120
1,180299,tt2265171,The Raid 2: Berandal,RAMA (Iko Uwais) adalah seorang polisi baru ya...,30.099,False,150,6566916,4500000,2014-03-27,...,11341.0,12141.0,12142.0,32,113732.0,1290939.0,1155281.0,1154465.0,142018.0,2.039650
2,925786,tt16915972,Pengabdi Setan 2: Communion,Beberapa tahun setelah berhasil menyelamatkan ...,44.238,False,119,0,0,2022-08-04,...,72491.0,104946.0,NaN,10,1154466.0,562217.0,581687.0,1150391.0,1873239.0,2.248941
3,94329,tt1899353,Serbuan Maut,ekelompok tim SWAT tiba di sebuah blok apartem...,26.744,False,101,9148519,1100000,2012-03-23,...,860.0,11341.0,12141.0,32,113732.0,592496.0,1202416.0,142019.0,1001665.0,1.508420
4,467012,tt7076834,Pengabdi Setan,"Setelah Rini ditinggal mati ibunya, ada sesuat...",19.740,False,107,0,147983,2017-09-28,...,7872.0,NaN,NaN,23,1154466.0,581687.0,1873239.0,1873241.0,1873242.0,3.115400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329,597293,None,Mengalir dan Membara,,0.600,False,23,0,0,2018-08-15,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2330,597265,None,Positif,,0.600,False,4,0,0,2018-01-01,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2331,597259,None,Siaran Langsung Berakhir,,0.600,False,15,0,0,2018-11-01,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2332,596154,None,Laki Laki Virtual,,0.600,False,24,0,0,2014-01-01,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2333,595307,tt10530462,Nikah Yuk!,,0.606,False,94,0,0,2020-02-06,...,NaN,NaN,NaN,1,1258984.0,1167089.0,1307923.0,1973568.0,2347809.0,1.031154

In [72]:
# Menyimpan df_film dalam bentuk file csv tanpa menyimpan indeksnya
df_film.to_csv('film.csv', index=False)